body{
    overflow-x: hidden;
}

section#contacts div{
    padding: 10px;
    min-height: 150px;
}

footer{
    height: 100px;
    margin-top: 75px;
}

p{
    text-align: center;
    color: #EEE;
}

.list{
    transition: opacity .3s;
}